
    {{> navbar_staff}}

      <div id="content" class="p-4 p-md-5 pt-5">
      {{#if book}}
      <div class="container pt-5">
              <div class="row">

                  <div class="image--shadow mb-5 col-lg-6 col-md-12">
                      <img src="/images/{{book.image}}" alt="">
                  </div>
          
                  <div class="detail-info col-lg-6 col-md-12 pl-lg-5">
                      <h3 class="detail-name">{{book.name}}</h3>
                      <p>Trạng thái: {{book.status}}</p>
                      <div class="note p-3 my-3">
                          <div class="note-text mb-2">
                              <i class="fa fa-check-circle pt-1"></i>
                              <p class="pl-2">Đây là sách uy tín</p>
                          </div>
                          <div class="note-text mb-2">
                              <i class="fa fa-check-circle pt-1"></i>
                              <p class="pl-2">Nếu bạn muốn mượn thì vui lòng click vò bên dưới</p>
                          </div>
                      </div>
                      <div class="quantity mb-3">
                          <p class="quantity-text mb-3">Số lượng</p>
                          <button onclick="changeQuantity(this)" id="decrease" class="adjust-btn btn btn-outline-primary">-</button>
                          <input id="quantity" class="quantity-number" type="number" value="1" disabled>
                          <button onclick="changeQuantity(this)" id="increase" class="adjust-btn btn btn-outline-primary">+</button>
                      </div>
                      <div class="detail-buy">
                        <div class="row">
                            <div class="col-lg-12">
                                <button onclick="" class="btn btn-outline-info px-5 py-3 mb-3 btn-image" data-id="{{book._id}}">
                                    <span><i class="fa fa-history mr-1"></i></span> Đổi ảnh
                                </button>
                            </div>
                            <div class="col-lg-12">
                                <button data-id="{{book._id}}" class="btn btn-outline-danger px-5 py-3 mb-3 btn-change" data-id="{{book._id}}" data-name="{{book.name}}">
                                    <span><i class="fa fa-history mr-1"></i></span> Chuyển trạng thái
                                </button>
                            </div>
                            <div class="col-lg-12">
                                <button data-id="{{book._id}}" data-name="{{book.name}}" data-quantity="{{book.quantity}}" data-description="{{book.description}}" data-slug="{{book.slug}}" data-image="{{book.image}}" class="btn btn-outline-primary px-5 py-3 btn-edit">
                                    <span><i class="fa fa-pencil mr-1"></i></span> Sửa sách
                                </button>
                            </div>
                        </div>   
                    </div>
                  </div>
              </div>
          
              <h3 class="product-title text-primary">Mô tả sản phẩm</h3>
              <p>{{book.description}}</p>
          </div>  
          {{/if}}      
    </div>

    <!-- Confirm delete -->
<div id="confirm-delete-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Xóa Sách</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn chuyển trạng thái sách <strong id="delete-name"></strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button data-id= "???" id="btn-delete-confirm" type="button" class="btn btn-danger">Chuyển</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- Update user -->
<div id="confirm-edit-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Cập nhật thông tin sách</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
             <div class="form-group">
                <label for="name">Tên tài liệu</label>
                <input value="" name="name" required class="form-control" type="text" placeholder="Name" id="name_e" style="border: 1px solid rgba(0, 0, 0, 0.171)">
            </div>
            <div class="form-group">
                <label for="quantity">Số lượng</label>
                <input value="" name="quantity" required class="form-control" type="number" placeholder="Quantity" id="quantity_e" style="border: 1px solid rgba(0, 0, 0, 0.171)">
            </div>
            <div class="form-group">
                <label for="quantity">Mô tả</label>
                <input value="" name="description" required class="form-control" type="text" placeholder="Quantity" id="description_e" style="border: 1px solid rgba(0, 0, 0, 0.171)">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button data-id = "???" type="button" class="btn btn-primary" id="btn-edit-confirm">Cập nhật</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<!-- End Update user -->

<div id="confirm-image-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      <form action="/staff/bookImage" method="POST" enctype="multipart/form-data">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thay đổi ảnh sách</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label for="image" class="">Ảnh minh họa</label>
                <input value = "" type="file" class="form-control" required accept="image/*" id="image_e" name="image" style="border: 1px solid rgba(0, 0, 0, 0.171)">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
           <input type="hidden" name="id" id="id">
          <button type="submit" class="btn btn-success" id="btn-image-confirm">Đổi</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div id="modal-change-status" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Chuyển trạng thái</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn chuyển trạng thái <strong id="delete-name"></strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button data-id= "???" type="button" class="btn btn-success" id="btn-change-confirm" >Vẫn Còn</button>
            <button data-id= "???" type="button" class="btn btn-danger" id="btn-change-confirm-end">Đã Hết</button>
        </div>
        
      </div>
    </div>
  </div>

<script>
    let edits = document.querySelectorAll(".btn-edit")
    edits.forEach(item => {
        item.onclick = (e) => {
            console.log(item)
            let id_e = item.getAttribute("data-id")
            let name_e = item.getAttribute("data-name")
            let quantity_e = item.getAttribute("data-quantity")
            let description_e = item.getAttribute("data-description")

            console.log(name_e)
            console.log(quantity_e)
            console.log(description_e)

        
            $('#name_e').val(name_e)
            $('#quantity_e').val(quantity_e)
            $('#description_e').val(description_e)
            
        

            $('#btn-edit-confirm').attr('data-id', id_e)
    
            $('#confirm-edit-dialog').modal('show')
        }
    })

    $('#btn-edit-confirm').click(e => {
        $('#confirm-edit-dialog').modal('hide')
        const btn = e.target
        let id = btn.dataset.id
        let name = $('#name_e').val()
        let quantity = $('#quantity_e').val()
        let description = $('#description_e').val()

        console.log(name)
        console.log(quantity)
        console.log(description)
        
        fetch('/staff/update', {
            headers:{
                'Content-Type':'application/x-www-form-urlencoded'
            }, 
            method: 'POST',
            body:'id='+ id + '&name=' + name + '&quantity=' + quantity + '&description=' + description,
        })
        .then(res => res.json())
        .then(json => {
            if(json.code === 0){
                console.log("Cập nhật thành công")
                showSuccessToast("Sửa sách thành công")
                setTimeout(() => {
                    window.location.href = '/staff/book'
                },2000)
            }
        })
        .catch(e => console.log(e))
    })

    let images = document.querySelectorAll(".btn-image")
    images.forEach(item => {
        item.onclick = (e) => {
            console.log(item)
            let id_i = item.getAttribute("data-id")

            $('#id').val(id_i)
    
            $('#confirm-image-dialog').modal('show')
        }
    })

    let changes = document.querySelectorAll(".btn-change")
    changes.forEach(item => {
        item.onclick = (e) => {
            console.log(item)
            let id_c = item.getAttribute("data-id")

            $('#btn-change-confirm').attr('data-id', id_c)
            $('#btn-change-confirm-end').attr('data-id', id_c)
    
            $('#modal-change-status').modal('show')
        }
    })

    $('#btn-change-confirm').click(e => {
        $('#modal-change-status').modal('hide')
        const btn = e.target
        let id = btn.dataset.id
        
        fetch('/staff/changeStatusBookStill', {
            headers:{
                'Content-Type':'application/x-www-form-urlencoded'
            }, 
            method: 'POST',
            body:'id='+ id,
        })
        .then(res => res.json())
        .then(json => {
            if(json.code === 0){
                console.log("Cập nhật thành công")
                showSuccessToast("Chuyển trạng thái thành công")
                setTimeout(() => {
                    window.location.href = '/staff/book'
                },2000)
            }
        })
        .catch(e => console.log(e))
    })

    $('#btn-change-confirm-end').click(e => {
        $('#modal-change-status').modal('hide')
        const btn = e.target
        let id = btn.dataset.id

        console.log(id)
        
        fetch('/staff/changeStatusBookEnd', {
            headers:{
                'Content-Type':'application/x-www-form-urlencoded'
            }, 
            method: 'POST',
            body:'id='+ id,
        })
        .then(res => res.json())
        .then(json => {
            if(json.code === 0){
                console.log("Cập nhật thành công")
                showSuccessToast("Chuyển trạng thái thành công")
                setTimeout(() => {
                    window.location.href = '/staff/book'
                },2000)
            }
        })
        .catch(e => console.log(e))
    })
    
</script>
