
{{> navbar_staff}}

<div id="content" class="p-4 p-md-5 pt-5">
    <div class="container" style="min-height: 100vh;">
        <h2 class="text-success text-center">Quản lý phiếu mượn sách</h2>
        <div class="">
            <a class="btn btn-outline-primary" href="" data-toggle="modal" data-target="#modal-add-loan">Tạo phiếu mượn</a>
        </div>
        {{#each data}}
        <div class="row mt-5" style="border: 1px dashed black;">
            <div class="col-lg-2" style="display: flex; justify-content: center; align-items: center">
                <a href="#" data-toggle="modal" data-target="#modal-change-status" style="color: gray" data-id="{{_id}}" data-name="{{name}}"
                data-username="{{username}}" data-book="{{book}}" data-staff="{{staff}}"
                data-dateb="{{dateb}}" data-dater="{{dater}}" id="btn-change"><i class="fa fa-address-card" aria-hidden="true" style="font-size: 50px;"></i></a>
            </div>
            <div class="col-lg-5 text-center pt-3">
                <p>{{name}}</p>
                <p>Số sách cho mượn: {{book.length}}</p>
            </div>
            <div class="col-lg-2 text-center pt-3">
                <p>Người muợn</p>
                <p>{{username}}</p>
            </div>
            <div class="col-lg-3" style="display: flex; justify-content: right; align-items: center">
                <button class="btn btn-outline-warning mr-3 view" data-name="{{name}}"
                data-username="{{username}}" data-book="{{book}}" data-staff="{{staff}}"
                data-dateb="{{dateb}}" data-dater="{{dater}}">Xem</button>
                <button class="btn btn-outline-primary mx-2 edit" data-name="{{name}}"
                data-username="{{username}}" data-book="{{book}}" data-staff="{{staff}}"
                data-dateb="{{dateb}}" data-dater="{{dater}}" data-id="{{_id}}">Sửa</button>
            </div>
        </div>
        {{/each}}   
    </div>
    <div class="text-center mt-5" style="display: flex; justify-content: center; align-items: center">
        <ul class="pagination text-center">
        {{{pagination_loan_staff count page}}}
        </ul>   
    </div>    
</div>

<div class="modal fade" id="modal-add-loan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Phiếu Mượn</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <form action="/staff/addloan" method="post">
                    <div class="modal-body">
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Name</label>
                                    <input type="text" placeholder="Name" name="name" required id="name">
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Username</label>
                                    <select name="username" id="username" style="width: 150px;">
                                        <option value="">None</option>
                                        {{#each account}}
                                            <option value="{{username}}">{{username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Name book</label>
                                    <select name="book1" id="book1">
                                        <option value="">None</option>
                                        {{#each book}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Name book</label>
                                    <select name="book2" id="book2">
                                        <option value="">None</option>
                                        {{#each book}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Name book</label>
                                    <select name="book3" id="book3">
                                        <option value="">None</option>
                                        {{#each book}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Date Borrow</label>
                                    <input type="date" name="dateb" required id="dateb">
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Date Return</label>
                                    <input type="date" name="dater" required id="dater">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" value="" name="id_book1" id="id_book1">
                        <input type="hidden" value="" name="id_book2" id="id_book2">
                        <input type="hidden" value="" name="id_book3" id="id_book3">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</div>
                        <button type="submit" class="btn btn-primary">Tạo</button>
                    </div>
                    </form> 
                </div>
            </div>
        </div>

<div id="modal-change-status" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Chuyển trạng thái</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Bạn có chắc rằng muốn chuyển trạng thái <strong id="delete-name"></strong>?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <input type= "hidden" id="book1_id" value="">
            <input type= "hidden" id="book2_id" value="">
            <input type= "hidden" id="book3_id" value="">
            <button data-id= "???" data-book="???" data-username="???" type="button" class="btn btn-success btn-finish" >Hoàn Thành</button>
            <button data-id= "???" data-book="???" data-username="???" type="button" class="btn btn-danger btn-late">Trễ Hạn</button>
        </div>
        
      </div>
    </div>
  </div>

<div id="view-loan" class="modal fade" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xem Phiếu Mượn</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Name</label>
                                    <input readonly value="" type="text" placeholder="Full name" name="name" required id="name-v">
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Username</label>
                                    <input readonly value="" type="text" placeholder="Username" class="" name="username" required id="username-v">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Name book 1</label>
                                    <input readonly value="" type="text" placeholder="None" class="" name="book" required id="book-v1" style="padding-right: 0;">
                                </div>

                                <div class="form-group mx-2">
                                    <label for="">Name book 2</label>
                                    <input readonly value="" type="text" placeholder="None" class="" name="book" required id="book-v2" style="padding-right: 0;">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Name book 3</label>
                                    <input readonly value="" type="text" placeholder="None" class="" name="book" required id="book-v3" style="padding-right: 0;">
                                </div>

                                <div class="form-group mx-2">
                                    <label for="">Name staff</label>
                                    <input readonly value="" type="text" placeholder="Sex" class="" name="staff" required id="staff-v" style="padding-right: 0;">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mx-2">
                                    <label for="">Date Borrow</label>
                                    <input readonly value="" type="text" placeholder="Phone number" class="" name="dateb" required id="dateb-v">
                                </div>
                                <div class="form-group mx-2">
                                    <label for="">Date Return</label>
                                    <input readonly type="text" name="dater" required id="dater-v" value="">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-loan" class="modal fade" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh Sửa Phiếu Mượn</h5>
                        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Name</label>
                                <input value="" type="text" placeholder="Full name" name="name" required id="name-e">
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Username</label>
                                <input value="" type="text" placeholder="Username" class="" name="username" required id="username-e">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Name book</label>
                                <input value="" type="text" placeholder="Identity" class="" name="book" required id="book-e" style="padding-right: 0;">
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Name staff</label>
                                <input value="" type="text" placeholder="Sex" class="" name="staff" required id="staff-e" style="padding-right: 0;">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mx-2">
                                <label for="">Date Borrow</label>
                                <input value="" type="text" placeholder="Phone number" class="" name="dateb" required id="dateb-e">
                            </div>
                            <div class="form-group mx-2">
                                <label for="">Date Return</label>
                                <input type="text" name="dater" required id="dater-e" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</div>
                        <button data-id = "???" type="button" class="btn btn-primary" id="btn-edit-confirm">Chỉnh Sửa</button>
                    </div>
                </div>
            </div>
        </div>

<script>
    let views = document.querySelectorAll(".view")
    views.forEach(item => {
        item.onclick = (e) => {
            console.log(item)
            let username = item.getAttribute("data-username")
            let name = item.getAttribute("data-name")
            let book = item.getAttribute("data-book")
            let staff = item.getAttribute("data-staff")
            let dateb = item.getAttribute("data-dateb")
            let dater = item.getAttribute("data-dater")

            let books = book.split(",")
            
            $('#username-v').val(username)
            $('#name-v').val(name)
            $('#book-v1').val(books[0])
            $('#book-v2').val(books[1])
            $('#book-v3').val(books[2])
            $('#staff-v').val(staff)
            $('#dateb-v').val(dateb)
            $('#dater-v').val(dater)
            
            $('#view-loan').modal('show')
        }
    })

    let edits = document.querySelectorAll(".edit")
    edits.forEach(item => {
        item.onclick = (e) => {
            console.log(item)
            let id_l = item.getAttribute("data-id")
            let username_l = item.getAttribute("data-username")
            let name_l = item.getAttribute("data-name")
            let book_l = item.getAttribute("data-book")
            let staff_l = item.getAttribute("data-staff")
            let dateb_l = item.getAttribute("data-dateb")
            let dater_l = item.getAttribute("data-dater")
            
            $('#username-e').val(username_l)
            $('#name-e').val(name_l)
            $('#book-e').val(book_l)
            $('#staff-e').val(staff_l)
            $('#dateb-e').val(dateb_l)
            $('#dater-e').val(dater_l)
            
            $('#edit-loan').modal('show')
            $('#btn-edit-confirm').attr('data-id', id_l)
        }
    })

    $('#btn-edit-confirm').click(e => {
        $('#confirm-edit-dialog').modal('hide')
        const btn = e.target
        let id = btn.dataset.id

        let username = $('#username-e').val()
        let name = $('#name-e').val()
        let book = $('#book-e').val()
        let staff = $('#staff-e').val()
        let dateb = $('#dateb-e').val()
        let dater = $('#dater-e').val()

        fetch('/staff/updateLoan', {
            headers:{
                'Content-Type':'application/x-www-form-urlencoded'
            }, 
            method: 'POST',
            body:'id=' + id + '&username='+ username + '&name=' + name + '&book=' + book + '&staff=' + staff + '&dateb=' + dateb + '&dater=' + dater,
        })
        .then(res => res.json())
        .then(json => {
            console.log(json)
            if(json.code === 0){
                console.log("Cập nhật thành công")
                window.location.href = '/staff/loan'
            }
        })
        .catch(e => console.log(e))
    })

    $('#book1').change(()=>{
        let name = $("#book1").val()
        if(name === 'None'){
            document.getElementById('id_book3').value = 'None'
        }
        else{
            fetch('http://localhost:3000/staff/changeQuantity', {
                headers:{
                    'Content-Type':'application/x-www-form-urlencoded'
                }, 
                method: 'POST',
                body: 'name=' + name,
            })
            .then(res => res.json())
            .then(json => {
                console.log(json.data[0]._id)
                document.getElementById('id_book1').value = json.data[0]._id
            })
            .catch(e => console.log(e))
        }
        
    })

    $('#book2').change(()=>{
        let name = $("#book2").val()
        if(name === 'None'){
            document.getElementById('id_book2').value = 'None'
        }
        else{
            fetch('http://localhost:3000/staff/changeQuantity', {
                headers:{
                    'Content-Type':'application/x-www-form-urlencoded'
                }, 
                method: 'POST',
                body: 'name=' + name,
            })
            .then(res => res.json())
            .then(json => {
                console.log(json.data[0]._id)
                document.getElementById('id_book2').value = json.data[0]._id
            })
            .catch(e => console.log(e))
            }
    })

    $('#book3').change(()=>{
        let name = $("#book3").val()
        if(name === 'None'){
            document.getElementById('id_book3').value = 'None'
        }
        else{
            fetch('http://localhost:3000/staff/changeQuantity', {
                headers:{
                    'Content-Type':'application/x-www-form-urlencoded'
                }, 
                method: 'POST',
                body: 'name=' + name,
            })
            .then(res => res.json())
            .then(json => {
                console.log(json.data[0]._id)
                document.getElementById('id_book3').value = json.data[0]._id
            })
            .catch(e => console.log(e))
        }
    })

    let changes = document.querySelectorAll("#btn-change")
    changes.forEach(item => {
        item.onclick = (e) => {
            let id_c = item.getAttribute("data-id")
            let book_c = item.getAttribute("data-book")
            let username_c = item.getAttribute("data-username")

            book_cs = book_c.split(",")
            console.log(book_cs)
            
            $('.btn-finish').attr('data-id', id_c)
            $('.btn-finish').attr('data-username', username_c)
            $('.btn-late').attr('data-id', id_c)
            $('.btn-late').attr('data-book', book_c)
            $('.btn-late').attr('data-username', username_c)
            $('.btn-finish').attr('data-book', book_c)

            fetch('/staff/getIdBook', {
                headers:{
                    'Content-Type':'application/x-www-form-urlencoded'
                }, 
                method: 'POST',
                body:'book='+ book_cs,
            })
            .then(res => res.json())
            .then(json => {
                console.log(json)
                if(json.code === 0){
                    console.log("Lấy id sách thành công")
                    //window.location.href = '/staff/loan'
                    if(json.data.length === 3){
                        document.getElementById('book1_id').value = json.data[0]._id
                        document.getElementById('book2_id').value = json.data[1]._id
                        document.getElementById('book3_id').value = json.data[2]._id
                    }
                    else if(json.data.length === 2){
                        document.getElementById('book1_id').value = json.data[0]._id
                        document.getElementById('book2_id').value = json.data[1]._id
                        document.getElementById('book3_id').value = ""
                    }
                    else{
                        document.getElementById('book1_id').value = json.data[0]._id
                        document.getElementById('book2_id').value = ""
                        document.getElementById('book3_id').value = ""
                    }
                }
            })
        }
    })

    let finish = document.querySelectorAll(".btn-finish")
    finish.forEach(item => {
        item.onclick = (e) => {
            let id = item.getAttribute("data-id")
            let book = item.getAttribute("data-book")
            let username = item.getAttribute("data-username")

            console.log(id)
            console.log(book)

            book_cs = book.split(",")
            console.log(book_cs)

            let arrayId = new Array()
            if(document.getElementById('book1_id').value !== "")
            {
                arrayId.push(document.getElementById('book1_id').value)
            }
            if(document.getElementById('book2_id').value !== "")
            {
                arrayId.push(document.getElementById('book2_id').value)
            }
            if(document.getElementById('book3_id').value !== "")
            {
                arrayId.push(document.getElementById('book3_id').value)
            }
            
            if(arrayId.length === 3){
                fetch('/staff/changeStatusSuccess3book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&id_book2=' + arrayId[1] + '&id_book3=' + arrayId[2] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
            else if(arrayId.length === 2){
                fetch('/staff/changeStatusSuccess2book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&id_book2=' + arrayId[1] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
            else{
                fetch('/staff/changeStatusSuccess1book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
            
        }
    }) 

    let late = document.querySelectorAll(".btn-late")
    late.forEach(item => {
        item.onclick = (e) => {
            let id = item.getAttribute("data-id")
            let book = item.getAttribute("data-book")
            let username = item.getAttribute("data-username")

            book_cs = book.split(",")
            console.log(book_cs)

            let arrayId = new Array()
            if(document.getElementById('book1_id').value !== "")
            {
                arrayId.push(document.getElementById('book1_id').value)
            }
            if(document.getElementById('book2_id').value !== "")
            {
                arrayId.push(document.getElementById('book2_id').value)
            }
            if(document.getElementById('book3_id').value !== "")
            {
                arrayId.push(document.getElementById('book3_id').value)
            }
            
            if(arrayId.length === 3){
                fetch('/staff/changeStatusLate3book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&id_book2=' + arrayId[1] + '&id_book3=' + arrayId[2] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
            else if(arrayId.length === 2){
                fetch('/staff/changeStatusLate2book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&id_book2=' + arrayId[1] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
            else{
                fetch('/staff/changeStatusLate1book', {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    }, 
                    method: 'POST',
                    body:'id=' + id + '&book='+ book + '&id_book1=' + arrayId[0] + '&username=' + username, 
                })
                .then(res => res.json())
                .then(json => {
                    console.log(json)
                    if(json.code === 0){
                        console.log("Chuyển trạng thái thành công")
                        window.location.href = '/staff/loan'
                    }
                })
                .catch(e => console.log(e))
            }
        }
    }) 

</script>