
{{> navbar_user}}
        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
              <h2 class="text-center mb-5">Trang bình luận</h2>
              <div class="mb-5">
                {{#if account}}
                <button class="btn btn-success add-comment" data-username="{{account}}">Thêm bình luận</button>
                {{/if}}
              </div>
              <div class="mb-5">
                <p>Dưới đây là nhận xét và đánh giá của một vài người dùng hệ thống</p>
              </div>
                <div class="comment-block" style="min-height: 50vh;">
                  {{#each data}}
                  <div class="row">
                    <div class="col-lg-1">
                        <img src="/images/avatar2.png" class="rounded-circle" alt="Cinque Terre" style="max-width: 100%;">
                    </div>
                    <div class="col-lg-7">
                        <div style="background-color: #F2F2F2; width: fit-content; border-radius: 16px;  padding-left: 3px; padding-right: 3px;">
                          <p style="font-weight: bold; margin-bottom: 0;">{{username}}</p>
                          <p>{{comment}}</p>
                        </div>
                    </div>
                  </div>
                  {{/each}}
                </div> 
               <div class="text-center" style="display: flex; justify-content:center; align-items: center">
                  <ul class="pagination">
                    {{{pagination_comment_user count page}}}
                	</ul>   
                </div>    
    </div>

    <div id="comment-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">Bình luận</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
                <p>Vui lòng nhập bình luận của bạn, cám ơn vì đã sử dụng hệ thống</p>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea name="comment" id="comment" cols="60" rows="10" required></textarea>
                        
                    </div>
                    
                </div>  
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button data-username="" id="btn-add-confirm" type="button" class="btn btn-success">Gửi</button>
          <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>

  {{#if change_pass_success}}
            <input type="hidden" id="check_toast" value="{{checkToast}}">
  {{/if}}




  <script>
    window.onload = () => {
      $('.add-comment').click(e => {
      const btn = e.target
      const username = btn.dataset.username

      console.log(username)

      $('#comment-dialog').modal('show')

      $('#btn-add-confirm').attr('data-username', username)
    })

    $('#btn-add-confirm').click(e => {
        $('#comment-dialog').modal('hide')
        const btn = e.target
        let username = btn.dataset.username

        let comment = $('#comment').val();

        console.log(username)
        

        fetch('/user/addComment', {
            headers:{
                'Content-Type':'application/x-www-form-urlencoded'
            }, 
            method: 'POST',
            body:'username='+ username + '&comment=' + comment,
        })
        .then(res => res.json())
        .then(json => {
            if(json.code === 0){
                console.log("Thêm comment thành công")
                showSuccessToast('Thêm bình luận thành công')
                setTimeout(() => {
                    window.location.href = '/user/comment' 
                },3000)  
            }
        })
        .catch(e => console.log(e))
    })
    }
  </script>
